
.loading { 
  background:url(img/ajax-loader.gif) no-repeat 0 0; 
  width:32px; height;32px; 
  padding-left: 40px 
}

/* List view (required) */
.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}
